html {
    font-family: sans-serif;
    background: white;
    background-color: #212121;
}

body,
body * {
    margin: 0;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    outline: 0;
}

body,
noscript {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    font-family: Helvetica Neue, sans-serif;
    transition: background 0.5s;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

h1,
h3,
p {
    text-align: center;
    margin: 1rem;
}

h1 {
    font-size: 15vh;
}

h3 {
    font-size: 2vh;
}

p {
    font-size: 7vh;
}

input,
button {
    box-sizing: border-box;
}

.bus {
    flex: 50%;
    padding: 1rem;
    width: 100%;
    min-height: 10rem;
    font-size: .875rem;
    background-color: transparent;
    border: 1px solid #e13d14;
    color: #de1b1b;
    webkit-appearance: none;
    outline: 0;
    cursor: pointer;
}